<%- include ("commons/header") %>
    <h1 class="border rounded-lg bg-dark text-white p-2 m-3"><%= perso.nom %> </h1>
    <div class="row">
        <div class="col">
            <img src="sources/images/<%= perso.nom %>.png" />
        </div>
        <div class="col">
            <img src="sources/images/<%= perso.arme %>.png" />
            <form action="" method="post">
                <select name="arme" onchange="submit()">
                    <option value="hache" <%= (perso.arme==="hache") ? "selected" : "" %>>Hache</option>
                    <option value="arc" <%= (perso.arme==="arc") ? "selected" : "" %>>Arc</option>
                    <option value="marteau" <%= (perso.arme==="marteau") ? "selected" : "" %>>Marteau</option>
                </select>
                <input type="hidden" name="perso" value="<%= perso.nom %>">
            </form>
        </div>
    </div>
<%- include ("commons/footer") %>